.App {
  text-align: center;
}

.tweetsView {
    z-index: 1;
}

.overlay {   
    z-index: 3;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 30%;
    text-align: center;
}

.repliesView {
    background-color: aquamarine;
    border-style: solid;
}



/*
    add an overlay affect where the screen turns dark besides the overlay div
    
    add scrollbar for replies view


    // maybe put a border around original tweet to distinguish it from retweet

    // when you click on delete, the page scrolls up because tweetsview gets shortened
    // you might be able to fix this by increasing the height by css styling
    // you can also not do this because we want to scroll up when retweet

    // maybe when user deletes, show something on the screen that says delete successful

    // set size for textbox and prevent resizing
*/