.tweetsView {
    z-index: 1;
}

.overlay {   
    z-index: 3;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 30%;
    text-align: center;
}

.repliesView {
    background-color: aquamarine;
    border-style: solid;
}

.darkOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    display: block;
}

.card {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.counters {
    display: flex;
}

.likes {
    margin-right: 5%;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important; 
}

.card-content {
    padding-bottom: 0 !important; 
}

.retweet {
    border-style: solid;
    border-color: rgb(179, 169, 169);
    border-width: thin;
    border-radius: 25px;
    padding: 2%;
    width: 80%;
    margin-top: 0%;
    margin-bottom: 5%;
    margin-left: auto; 
    margin-right: 0;
}

.isOri {
    width: 80%;
    margin-left: auto; 
    margin-right: 0;
    margin-bottom: 0 !important;
    margin-top: 5% !important;
    text-decoration: underline;
}




/*

    !important
    add scrollbar for replies view
    if you cant do this, then maybe make the replies view overview not fixes (this may not work)


    // maybe put a border around original tweet to distinguish it from retweet

    // when you click on delete, the page scrolls up because tweetsview gets shortened
    // you might be able to fix this by increasing the height by css styling
    // you can also not do this because we want to scroll up when retweet

    // maybe when user deletes, show something on the screen that says delete successful

    // set size for textbox and prevent resizing
*/