.App {
  text-align: center;
}

.tweet {
    z-index: 1;
}

.overlay {   
    z-index: 2;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 30%;
    text-align: center;
}

.repliesView {
    background-color: aquamarine;
    border-style: solid;
}

/*
    add an overlay affect where the screen turns dark besides the overlay div
    need to display the divs on the screen even if the user is scrolling down
    add scrollbar for replies view


    // maybe put a border around original tweet to distinguish it from retweet
*/